* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 5rem;
    --primary-color: #f0e3e3;
    --background-color: #0c0d18 ;
    --background-lighter: #191b30;
    --background-darker: #09000e;
    --pure-white: #fff;
    --body-color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
img,
button,
ul,
li {
    &::selection {
        background: var(--primary-color);
        color: var(--pure-white);
    }
}

::-webkit-scrollbar {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-lighter);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}

button {
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 7px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: all .5s;

    #cartWidget {
        margin-left: 5px;
        font-size: 1.2rem;
    }

    svg {
        margin: 10px;
    }

    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: var(--primary-color);
    }
}

/* NavBar section */

.navBar__logo {
    color: var(--primary-color);
    font-size: 1.7rem;
    letter-spacing: -7px;
    font-weight: bold;

    .acc {
        font-weight: 100;
        font-style: italic;
        letter-spacing: normal;
    }
}


.navBar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, var(--background-color), var(--background-darker) 100%);
    height: 5rem;
    color: var(--pure-white);
    border-bottom: 1px solid #ffffff3a;
    z-index: 999;

    ul li {
        display: inline-block;
        margin: 0 1.3rem;
    }

    .navBar__menu {

        .navBar__menu__list {
            display: flex;
            align-items: center;
            justify-content: center;

            .list-item {

                a {
                    text-decoration: none;
                    color: var(--pure-white);
                    transition: all .5s;
                    letter-spacing: 1px;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}

#showMenu {
    font-size: 2rem;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    transition: .5s all;

    &:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
}

/*banner section*/

.banner-section{
    height:90vh;
    padding-top: calc(5rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--background-color);

    .text-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        grid-column: span 5;
        background-color: var(--primary-color);
        overflow: hidden;
        border-right: 1px solid var(--background-color);

        .title{
            font-size: 2.5rem;
            margin: 15px 0px;
            padding: 0px 90px 0px;
        }

        .text{
            margin: 20px 0px;
        }

        button{
            border: 2px solid var(--background-color);
            color: var(--primary-color);
            margin: 20px 0px 20px;
            background-color: var(--background-color);
            padding:10px;
            letter-spacing: 2px;
            font-weight: bold;

            &:hover{
                background-color: transparent;
                border: 2px solid var(--background-color);
                color: var(--background-color);
            }
        }
    }

    .image-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        background: url('../images/samsung-slide.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: span 7 / -1;
        height: 100%;
        overflow: hidden;

        h2{
            color: var(--primary-color);
            padding: 200px;
        }
    }
}

/*item list container section*/

.item-container {
    padding-top: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 1.5rem;
        color: var(--pure-white);
        font-weight: 100;
        margin-bottom: 1rem;
    }

    .small {
        margin-top: 1rem;
        color: var(--pure-white);
    }
}

/*product section*/

.product-section {
    padding-top: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--background-darker);
    height: 100%;

    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
        background-color: var(--pure-white);
        padding: 10px;
        height: 330px;
        width: 230px;
        border-radius: 6px;
        transition: all .3s;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 5px var(--background-color);
            transform: translateY(10px);
            z-index: 1;
        }

        button {
            font-weight: bold;
            color: var(--primary-color);
            background-color: var(--background-color);
            border: 2px solid var(--background-color);

            &:hover{
                color:var(--background-color);
                background-color: var(--primary-color);
            }
        }

        .img-container {
            background-color: var(--pure-white);
            border-bottom: 1px solid #acacac59;
            overflow: hidden;
        }
    }

    .price {
        color: var(--background-darker);
        margin: 0px 0px 10px;
    }

    .buy-btn {
        width: fit-content;
        padding: 5px 20px;
    }

    .title {
        margin: 10px 0px;
    }
}

/*loader section*/

.loader{
    height: 100vh;
}

.progress-loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    background: #0000029a;
    height: 7px;
    border-radius: 7px;
    border: 1px solid black;

    .progress {
        content: '';
        width: 1px;
        height: 100%;
        border-radius: 7px;
        background: var(--pure-white);
        transition: 0.5s;
        animation: loading 2s ease infinite;
    }
}

/* Error Section */

.error-section{
    padding-top: calc(var(--header-height) + 3rem);
    padding-bottom: 2rem;
    text-align: center;
    color: var(--pure-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button{
        margin: 10px;
        font-weight: bold;

        &:hover{

            a{
                color: var(--primary-color);
            }
        }
    }
}

/*Footer section*/

footer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-darker);
    color: var(--pure-white);
    height: 30vh;
    border-top: 1px solid var(--pure-white);
    .info{

        .title{
            font-size: 1.5rem;
            letter-spacing: 1px;
            color: var(--primary-color);
            font-weight: bold;
        }

        ul{

            li{
                list-style: none;
                text-align: center;
                padding: 5px;
            }
        }
    }
}

/*Animations*/

@keyframes loading {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    50% {
        width: 40%;
    }

    60% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}

/*Queries*/

@media screen and (max-width: 768px) {

    .navBar__menu {
        position: absolute;
        top: 5rem;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #0c0d1893;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        transition: all .5s ease-in-out;
        backdrop-filter: blur(5px);

        .navBar__menu__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .5s;

            .list-item {
                margin: 1rem;
                padding: 10px;
            }
        }
    }

    .active {
        right: 0;
    }

    #showMenu {
        display: block;
    }

    .cart-anchor {
        position: absolute;
        top: 22px;
        right: 13%;
    }
}